.main-content
  -if @repositories
    .row
      - @repositories.each do |repository|
        .col-md-6.col-sm-12
          .repo-in-list
            .repo-title= link_to repository.name, repository.repo_url
.sidebar
  .profile-title= "#{@user.name}'s Work"
  - if @portfolio.personal_url
    .profile-link= link_to 'Personal Site', @portfolio.personal_url, target: '_blank'
  .sidebar-separator
  .page-text= link_to "Edit Portfolio", edit_user_portfolio_path(current_user, @portfolio)