!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RailsWeekly
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .app-container
      %header
        %nav
          = link_to 'Rails Weekly', root_path, class: 'header-brand'
          .user-links
            - if current_user
              .page-text
                Welcome 
                = link_to current_user.name, user_path(current_user)
              .page-text= link_to "Sign Out", signout_path
            - else
              = link_to "Sign in with Github", "/auth/github"
      .app-content
        = yield
